*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    overflow: hidden;
}
a{
    text-decoration: none;

}
.section{
    overflow: hidden;
}
.background{
    background: url(271004.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.container{
    width: 1100px;
    margin: auto;
}
.header{
    height: 80px;
    width: 100%;
    background: black;
    transition: all 1s;
    display: static;

}
.header:hover{
    background:#000000b3;

}
.logo{
    float: left;
}
.logo h1{
    color: white;
    font-family: sans-serif;
    font-style: italic;
    line-height: 80px;
    cursor: pointer;
}
.logo h1 span{
    color: red;
}
.menu{
    float: right;
    color: white;
    text-transform: uppercase;
}
.menu ul li{
    display: inline-block;
    list-style: none;
}
.menu ul li a,i{
    text-decoration: none;
    color: white;
    line-height: 80px;
    margin: 0px 10px;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;    
    padding: 34px 0px;
    transition: all 1s;
}
.menu ul li a:hover{
    color: red;
    border-bottom: 1px solid #ff0000ad;
}
.menu ul li i:hover{
    color: red;
    border-bottom: noe;
}

.menu ul button{
    border: none;
    background: red;
    width: 130px;
    height: 29px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 0px 4px 0px white;
    transition: all 1s;
    outline: none;
}
.menu ul button:hover{
    background: transparent;
    color: white;

}
.form{
    position: absolute;
    top: 54%;
    left: 72%;
    transform: translate(-15%, -50%);
    color: white;
    width: 250px;
    margin: auto;
    padding: 17px;
    transition: all 1s;
    height: 280px;
    font-family: arial;
    box-shadow: 0px 2px 2px 20px #ffffff1c;
}
.form input{
    width: 98%;
    height: 20px;
    border: none;
    color: white;
    margin: 7px 0px;
    padding: 15px 5px;
}
.form h2{
     
    padding: 14px 0px;
    color: #656667;
    text-align: center;
}
.form button{outline: none;border: none;background: #ff0000;color: white;padding: 10px 30px;width: 97%;margin-top: 17px;text-transform: uppercase;}

.form textarea{
    width: 100%;
    height: 85px;
    border:none;
    border: 1px solid #dadada;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}

.slide_text{
    position: absolute;
    top: 46%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.slide_text button{
    border: none;
    background: #00000066;
    padding: 5px 35px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 1s;
    border: 1px solid white;
    margin: 0px 145px;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    width: auto;
    height: 35px;
    outline: none;
}
.slide_text button:hover{
    background:red;
    color: white;
    border-radius: 15px;
    transition: all 1s;
    border: 1px solid red;
}

.slide_text h3{
font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: red;
    text-align: center;
}
.slide_text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    letter-spacing: 9px;
    text-align: center;
    padding: 10px 0px 30px 0px;
}


.icon_one i{
position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: all 1s;
  color: #e2e2e2;


}
.icon_one_t i{position: absolute;
    top: 45%;left: 10%;transform: translate(-50%, -50%);
    font-size: 35px;transition: all 1s;
    color: #e2e2e2;}
.icon_one_p i{
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: all 1s;
    color: #e2e2e2;}

.icon_one i:hover{
     color: red;
     font-size: 40px;
          padding-left: 30px;
}

.icon_one_t i:hover {
     color: red;
font-size: 40px;
     padding-left: 30px;
}
.icon_one_p i:hover {
     color: red;
     font-size: 40px;
          padding-left: 30px;
}
.icon_one_s i{
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: all 1s;
color: #e2e2e2;
}
.icon_one_s i:hover {
     color: red;
     font-size: 40px;
     padding-left: 30px;

}
.icon_one_s img, .icon_one img, .icon_one_t img, .icon_one_p img{
    width: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
}
.icon_one img{
    top: 36%;
    left: 11%;
    opacity: 20%;
}
.icon_one_s img{
    top: 66%;
    left: 11%;
    opacity: 20%;
}
.icon_one_p img{
    top: 56%;
    left: 11%;
    opacity: 20%;
}
.icon_one_t img{
    top: 46%;
    left: 11%;
    opacity: 20%;
}
.secend_div{
    height: 80px;
    background: black;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: white;
}
.secend_div p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    line-height: 70px;
    overflow: hidden;}

.third_section{
    height: 720px;
background: white;
  width: 100%;
  background-size: cover;
    padding: 50px 130px;
        text-align: center;
}
.third_section h1{
font-size: 50px;
font-family: 'Josefin Sans', sans-serif;
color: black;
line-height: 70px;
}
.third_section h3{
    font-size: 18px;
    font-family: arial black;
    color: red;
    line-height: 40px;

}

.third_section p{

font-size: 18px;
font-family: 'Josefin Sans', sans-serif;
color: black;
line-height: 30px;
letter-spacing: normal;
padding-bottom: 20px;
}



.t_s_img{
    width: 355px;
    height: 441.81px;
    position: relative;
}
.t_s_img img{
    width: 100%;
    height: 100%;
border-radius: 20px 20px 25px 65%;

    transition: all 1s;


}
.text_hover_img p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    color: transparent;
    display: grid;
    background: transparent;
    text-align: center;
    align-items: center;
    padding: 13px;
    transform: translate(-50%, -50%);
    opacity:50%;
    transition: all 0.5s;
    border-radius: 100%;
}
.person{
    overflow: hidden;
    float: right;
    margin: 5px;
}
.button {
  position: relative;
}

.button button{
    position: absolute;
    top: -31px;
    left: 50px;
    color: white;
    padding: 10px 23px;
    border-radius: 15px 66px 15px 15px;
    transform: translate(-50%, -50%);
    transition: all 1s;
    background: #2d334b;
    outline: none;
    font-size: 16px;
    border: .5px solid white;
    box-shadow: 1px 1px 9px 0px #2d334b;
}
.button button:hover{

    background: transparent;
    outline: none;
    font-size: 16px;
    color: black;
   border: .5px solid white;

}

.text_hover_img p:hover{
background: #2d334b;
    opacity: 90%;
    width: 85%;
    height: 85%;
    color: white;
    border: .5px solid white;
 border-radius: 15px 15px 15px 65%;

}
.all_four_section{
    padding: 20px 0px;
    overflow: hidden;
}
.four_section{
    height: 200px;
    background: #000000cf;
}
.four_black{
    background: black;
    width: 50%;
}
.about h1{
    padding-bottom:20px;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    color: white;
}
.about p{
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    color: white;
}


.about{
    float: right;
    width: 60%;
    border-left: 1px solid #f1e9e9;
    padding-left: 30px;
}
.about_img{
    float: left;
    width: 35%;
}
.about_img img{
    float: left;
    width: 150px;
    border-radius: 100%;
    height: 150px;
    margin-left: 235px;
    /* background: white; */
    border: 1px solid white;
}
.five_section{
 background:white;
    background-size: cover;
    height: 132vh;
    width: 100%;
    background-position: center;
    overflow: hidden;

}
.gellary {
    overflow: hidden;
}
.gellary h1{
font-family: "Poppins", sans-serif;
text-align: center;
 padding: 30px 0 30px 0;
}

.single_gellary{
    /* width: 30%; */
    height: 347px;
    /* float: right; */
    position: relative;
    /* margin: 5px; */
}
.single_gellary img{
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.up_box{
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0000008c;
    opacity: 0;
    transition: all 1s;
    transform: translate(-50%, -50%);
}
.up_box a{
    background: red;
    color: white;
    padding: 2px 5px;
}
.up_box i{
    font-size: 30px;
    text-align: center;
/*    border: 1px solid white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
*/
}

.single_gellary:hover .up_box{
   opacity: 1;
   color: white;
   padding: 15px;
   display: grid;
   align-items: center;
   text-align: justify;
}
.all_single_gellary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.six_section{
    height: 700px;
    background: #ffffff;
    padding: 50px 0px;
}
.six_sec_lef_content{
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 601px;
}

.six_sec_lef_content img{
    width: 100%;
    height: 600px;
}
.six_sec_lef_content:after{content: "";
background: #322f2f;
width: 1002px;height: 82%;
position: absolute;
transition: all 2s;
opacity: 50%;
transform: rotate(48deg);
bottom: -160px;
left: -367px;}
.six_sec_lef_content:before{content: "";
background: #322f2f;
width: 1000px;
height: 95%;
position: absolute;
transition: all 2s;
opacity: 50%;
transform: rotate(48deg);
top: -136px;
left: 21px;}

.six_sec_lef_content:hover:after{
height: 0;

}
.six_sec_lef_content:hover:before{
height: 0;
}
.six_sec_righ_content{
    float: right;
    width: 50%;
}
.single_left_icon{
    float: left;
    width: 20%;
    text-align: right;
    line-height: 100%;
}

.single_left_text{
    float: right;
    width: 75%;

}
.all_single_right_cont{
    display: grid;
    grid-template-rows: repeat(1,4fr);
    text-align: justify;
    grid-gap: 42px;
}
.single_right_content{
    color: black;
    transition: all 1s;
}

.single_right_content i{
    color: red;
    font-size: 50px;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

.bg_4th{
    background-image: url(32.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
      overflow: hidden;
}
.bg_img_4th_section img{
    position: absolute;
    top: 11%;
    left: 45%;
    width:296px;
    height:380px;
}
.bg_img_4th_section{
    width:200px;
    height:50px;
    margin: 5px;
    transition: all 1s;
}
.img_clic_text{
    position: absolute;
    width:200px;
    height:50px;
    color: white;
    top: 220px;
    left: 1009px;
    opacity: 0;
    transform: rotate(50deg);
    transition: all 1s;
}
.img_clic_text:nth-child(1){
    position: absolute;
    width:200px;
    height:50px; 
    color: white;
    top: 50%;
    left: 10%;
    background: black;
    transform: scale(0);
    transition: all 1s;
        transform: translateX(1300px);
}
.img_clic_text:nth-child(3){
    position: absolute;
    width:200px;
    height:50px; 
    color: white;
    top: 5%;
    left: 48%;
    background: black;
    opacity: 0;
    transform: translateX(1300px);
    transition: all 1s;
    border-radius: 50%;


}

.img_clic_text:nth-child(4){
    position: absolute;
    width:200px;
    height:50px;
    color: white;
    top: 55%;
    left: 75%;
    background: black;
    opacity: 0;
    transition: all 1s;
    transform: rotate(-8deg);
}
.img_clic_text:nth-child(5){
    position: absolute;
    width:200px;
    height:50px; 
    color: white;
    top: 20%;
    left: 35%;
    background: black;
    transform: scale(0);
    transition: all 1s;
}
.img_clic_text:nth-child(6){
    position: absolute;
    width:200px;
    height:50px;
    color: white;
    top: 30%;
    left: 29%;
    background: black;
    transform: scale(0);
    transition: all 1s;
}
.img_clic_text:nth-child(7){
    position: absolute;
    width:200px;
    height:50px; 
    color: white;
    top: 40%;
    left: 20%;
    background: black;
    transform: scale(0);
    transition: all 1s;
}
.img_clic_text:nth-child(8){
    position: absolute;
    width:200px;
    height:50px; 
    color: white;
    top: 50%;
    left: 12%;
    background: black;
    transform: scale(0);
    transition: all 1s;
}
.img_clic_text:nth-child(9){
    position: absolute;
    width:200px;
    height:50px;
    color: white;
    top: 45%;
    left: 75%;
    background: black;
    transform: scale(0);
    transition: all 1s;
}
.img_clic_text P{
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
}
.bg_img_4th_section:hover .img_clic_text{
    color: black;
    background: #ce2141;
    transform: scale(1);
    opacity: 1;
}

.footer{
    height: 350px;
    text-align: center;
    width: 650px;
    margin:auto;
    position: absolute;
    top: 109%;
    left: 68%;
    transform: translate(-50%, -50%);
}
.footer h1{
    padding: 50px 50px 20px 0px;
}
.footer p{
    font-size: 13px;
    padding: 0px 50px 50px 0px;
}
.submit_area{
        float: left;
    border: 1px solid black;
    padding-top: 11px;
    width: 246px;
    height: 52px;
}
.submit_area{
    float: left;
    border: 1px solid black;
    padding: 5px;
    width: 246px;
    height: 52px;
}

.tow{
    border-right: none;
}
.one{
    border-left: none;
    width: 400px;
    border-right: none;
}

.submit_area button{
    border: none;
    background-color: black;
    color: white;
    width: 208px;
    height: 40px;
    transition: all 1s;
    cursor: pointer;
}
.submit_area button:hover{
    
    background: red;
    color: white;

}
.submit_area input{
    border: none;
    background-color: #1b13130d;
    color: #34333ede;
    width: 380px;
    height: 30px;
    padding: 5px 10px;
    margin-top: 5px;
}

.box {
  position: fixed;
  top: -31px;
  transform: rotate(-43deg);
  left: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 301px;
  height: 247px;
  border-radius: 74%;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
.wave.-one {
  animation: rotate 7000ms infinite linear;
    opacity: .1;
    background: red;
}

.wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: .1;
  background: white;
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  background-color: #77daff;
}
.all_team_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px
    background: red;
}
.team_single{
    width: 95%;
    height: auto;
    margin: 10px 0px;

}
.team_single img{
   width: 100%;
   height: 100%;

}
.protfolio_im{
    width: 600px;
}
.protfolio_im img{
    width: 100%;
}
.protfolio_im_contain{
    position: relative;
}
.btn button{
     width: 400px;
    height: 50px;
    position: absolute;
    top: 48%;
    left: 55%;
    border: none;
    background: #34333e;
    color: white;
    outline: none;
    border-radius: 50px;
    transition: all 1s;
}
.btn button:nth-child(1){
     width: 400px;
     height: 50px;
     position: absolute;
     top: 16%;
     left: 55%;
     border: none;
     background: #34333e;
     color: white;
     outline: none;
     border-radius: 50px;
     transition: all 1s;
}
.btn button:nth-child(2){
     width: 400px;
     height: 50px;
     position: absolute;
     top: 24%;
     left: 55%;
     border: none;
     background: #34333e;
     color: white;
     outline: none;
     border-radius: 50px;
     transition: all 1s;
}
.btn button:nth-child(3){
     width: 400px;
     height: 50px;
     position: absolute;
     top: 32%;
     left: 55%;
     border: none;
     background: #34333e;
     color: white;
     outline: none;
     border-radius: 50px;
     transition: all 1s;
}
.btn button:nth-child(4){
     width: 400px;
     height: 50px;
     position: absolute;
     top: 40%;
     left: 55%;
     border: none;
     background: #34333e;
     color: white;
     outline: none;
     border-radius: 50px;
     transition: all 1s;
}
.btn button:hover{
    transform: scale(1.1);
    border: 1px solid white;
    box-shadow: 1px 1px 10px 1px white;
    background:red;
}
.protfolio_imBtoom{
    position: relative;

}
.protfolio_imBtoom img{
    position: absolute;
    top: -160px;
    left: 0;
    width: 100%
}
.protfolio_imBtoom img:nth-child(2){
    position: absolute;
    top: -347px;
    left: 870px;
    width: 223px;

}
.left_contain_f{
    width: 50%;
    
}
.btn_round{
     height: 80px;
    border-radius: 9px;
    background: red;
    position: absolute;
    top: 147px;
    left: 158px;
    width: 80px;

}
.btn_round:nth-child(2){
     height: 80px;
     border-radius: 9px;
     background: #34333e;
     position: absolute;
     top: 241px;
     left: 185px;
     width: 80px;
}
.btn_round:nth-child(3){
     height: 80px;
     border-radius: 9px;
     background: red;
     position: absolute;
     top: 147px;
     left: 252px;
     width: 80px;
}
.btn_round:nth-child(4){
     height: 80px;
     border-radius: 9px;
     background: red;
     position: absolute;
     top: 228px;
     left: 430px;
     width: 80px;
}
.btn_round:nth-child(5){
     height: 80px;
     border-radius: 9px;
     background: red;
     position: absolute;
     top: 252px;
     left: 282px;
     width: 80px;
}
.btn_round:nth-child(6){
     height: 80px;
     border-radius: 9px;
     background: red;
     position: absolute;
     top: 147px;
     left: 345px;
     width: 80px;
}
.butt_section{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.btn_round h1{
    line-height: 80px;
    text-align: center;
}